# Comments & Basic Data Types

In [ ]:
"""
    This is a multi-line comment
""" 
print("Hello") # this is a comment

Hello

In [ ]:
"""
    This is a multi-line comment
""" 
print("Hello") # this is a comment

Hello

In [ ]:
# the following are all integers
print(2)
print(10)

2
10

In [ ]:
#the following are all floats
print(10.953)
print(8.0) # even this is a float number

10.953
8.0

In [ ]:
#the following are booleans
print(True)
print(False) #True and False must be capitalised for this to work - otherwise gives a NameError

True
False

In [ ]:
# the following are strings
print(" ")
print ("There's a nake in my boot!")
print('True')

There's a nake in my boot!
True

In [ ]:
# Monday exercises
print("Roisin McCague")

Roisin McCague

type

In [ ]:
# will output <class 'int'>
type(int)

type

Variables

In [ ]:
num1 = 5 #storing an integer into a variable
num2 = 8.4 #storing a float into a variable
print(num1,", ", num2) #youcan print multiple items using commas

5 ,  8.4

In [ ]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [ ]:
#storing strings into a variable
name = 'John Smith'
fave_number = '9'
print(name, fave_number) #will print 9 next to the name

John Smith 9

In [ ]:
#storing strings into a variable
name = 'John Smith'
fave_number = '9'
print(name,"'s favourite number is ", fave_number) #will print 9 next to the name

John Smith 's favourite number is  9

In [ ]:
#using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [ ]:
#adding, deleting, multiplying, dividing from a variable
result += 1 #same as saying result = result + 1
print(result)
result *= num1 #same as saying result = result * num1
print(result)

14.4
72.0

In [ ]:
#defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [ ]:
# Tuesday excercise 1
x = 3
y = 10
result = x+y
print(x,"+",y,"=",result)

3 + 10 = 13

In [ ]:
#Tuesday exercise 2
height = 245.54 
width = 13.66
area = height*width
print("a rectangle with height =",height,"and width =",width,"has an area =",area)

a rectangle with height = 245.54 and width = 13.66 has an area = 3354.0764

# Wednesday - Working with strings

In [1]:
#using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [3]:
#using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [7]:
#Injecting variables using the format method
name = "John"
print("Hello {}".format(name)) #make sure there are no spaces in the curly brackets, or it will not work with the .format
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [8]:
#using the new f strings - compatible with python 3.6 and up
name = "John"
print(f"Hello {name}")

Hello John

In [9]:
name = "John"
age = 28
print(f"Hello {name}, you are {age} years old!")

Hello John, you are 28 years old!

In [10]:
print("hello, %s" % name)

hello, John

In [11]:
#python 2 multiple variable formatting
print("Hello, %s %s" % (first_name, last_name)) #surround the variables in parenthesis

Hello, John Smith

In [13]:
#using indexes to print each element. Python indices start at 0
word = "hello" 
print(word[0]) #will output the first index in the string
print(word[1]) #will output the second index in the string
print(word[-1]) #will output the last index in the string

h
e
o

In [14]:
print(word[0:2]) #will output 'he' - but why? When index 2 = the third letter? the 2 is the stopping, so maybe it stops BEFORE the stop?

he

In [15]:
print(word[0:5:2]) #0:5 is the start:stop, then 2 is the step, meaning it will print every 2nd index in the start:stop range

hlo

In [19]:
#Wednesday exercise 1: variable injection
int_1 = 23
float_1 = 4.5
Bool = False
name = "John"
print(f"{int_1} {float_1} {Bool} {name}")

23 4.5 False John

In [25]:
#I think the above was meant to be much simplier - something like below
string = "23" + " " + "4.5" + " " + "False" + " " + "John"
print(string)

23 4.5 False John

In [21]:
#Wednesday exercise 2: Fill in the blanks
name = "Roisin" 
fav_sport = "hockey" 
program = "python"
print(f"{name}'s favourite sport is {fav_sport}")
print(f"{name} is working on {program} programming!")

Roisin's favourite sport is hockey
Roisin is working on python programming!

# Thursday: string manipulation

In [31]:
#using the title method to capitalise a string
name = "john smith"
name2 = "John SmItH"
print(name.title( ))
print(name2.lower())
print(name2.upper())

John Smith
john smith
JOHN SMITH

In [32]:
#replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

In [33]:
#finding the starting index of our searched term
s = "Look over that way"
print(s.find("over")) #returns the starting index of "over" - important to access specific index on a search

5

In [35]:
#removing white space with strip 
name = " john "
print(name.strip( ))

john

In [36]:
name = " john "
print(name.lstrip())
print(name.rstrip())

john
 john

In [37]:
#converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [38]:
#Thursday exercise 1: Uppercasing
word = "uppercase"
print(word.upper())

UPPERCASE

In [45]:
#Thursday exercise 2: strip symbols
name = "$$John Smith"
print(name.lstrip("$"))
print(name.strip("$"))

John Smith
John Smith

In [46]:
help(" ".strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

# Friday: Creating a receipt printing program

In [65]:
#create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

#Create a company name and information 
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

#declare ending message
message = "Thanks for shopping with us today!"

#create a top border
print("*"*50)

#print company information first, using format "\t\t" means to centre the text in the output
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

#print a line between sections
print("="*50)

#print out header for section of items
print("\tProduct Name\tProduct Price")

#create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t${}".format(p2_name.title(), p2_price)) #for some reason had to do a single \t here otherwise was out of line
print(f"\t{p3_name.title()}\t\t${p3_price}") #just wanted to attempt the other format option

#print a line between sections
print("="*50)

#print out a header for the total
print("\t\t\tTotal")

#calculate the total price and print out
total = p1_price + p2_price + p3_price
print(f"\t\t\t${total}")

#print a line between sections
print("="*50)

#output thank you message
print("\n\t{}\n".format(message))

#create a bottom border
print("*"*50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

In [99]:
#Weekly challenge 1: add star border on the sides of receipt
#create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

#Create a company name and information 
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

#declare ending message
message = "Thanks for shopping with us today!"

#create a top border
print("*"*50)

#print company information first, using format "\t\t" means to centre the text in the output
print("*\t\t{}\t\t *".format(company_name.title()))
print("*\t\t{}\t\t *".format(company_address))
print("*\t\t{}\t\t\t *".format(company_city))

#print a line between sections
print("*","="*46, "*")

#print out header for section of items
print("*\tProduct Name\tProduct Price\t\t *")

#create a print statement for each product
print("*\t{}\t\t${}\t\t\t *".format(p1_name.title(), p1_price))
print("*\t{}\t${}\t\t\t *".format(p2_name.title(), p2_price)) #for some reason had to do a single \t here otherwise was out of line
print(f"*\t{p3_name.title()}\t\t${p3_price}\t\t\t *") #just wanted to attempt the other format option

#print a line between sections
print("*","="*46, "*")

#print out a header for the total
print("*\t\t\tTotal\t\t\t *")

#calculate the total price and print out
total = p1_price + p2_price + p3_price
print(f"*\t\t\t${total}\t\t\t *")

#print a line between sections
print("*","="*46, "*")
#print("*", " "*46, "*")
#output thank you message
print("*", " "*46,f"*\n*\t{message}\t *\n*", " "*46, "*")

#create a bottom border
print("*"*50)

**************************************************
*		Coding Temple, Inc.		 *
*		283 Franklin St.		 *
*		Boston, MA			 *
* ============================================== *
*	Product Name	Product Price		 *
*	Books		$49.95			 *
*	Computer	$579.99			 *
*	Monitor		$124.89			 *
* ============================================== *
*			Total			 *
*			$754.83			 *
* ============================================== *
*                                                *
*	Thanks for shopping with us today!	 *
*                                                *
**************************************************